<style>
  section {
    background-color:#c2d6ff;
    padding:20px 40px;
  }
  h3 {
    margin:0 0 10px 0;
    border-bottom:solid 1px rgba(0,0,0,0.2);
  }
  button {
    border:none;
    background-color:#359;
    color:white;
    border-radius:2px;
    box-shadow:0 2px 3px rgba(0,0,0,0.1);
    padding:10px;
  }
  button:disabled {
    background-color:#79c;
    color:#c2d6ff;
  }
</style>

<section>
  <h3>Your Cart</h3>
  <div>
  {#if hasProducts}
    {#each products as product}
    <Product
      title={product.title}
      price={product.price}
      quantity={product.quantity}
      location='cart'
    />
    {/each}
  {:else}
    <em>Please add some products to cart.</em>
  {/if}
  </div>

  <p>Total: &#36;{total}</p>
  <button on:click='fire("checkout")' disabled={disabled}>
    Checkout
  </button>
</section>

<script>
  import Product from './Product.html'
  export default {
    components: { Product },
    computed: {
      hasProducts: ({ products })    => !!products.length,
      disabled   : ({ hasProducts }) => hasProducts? '':'disabled',
    },
  }
</script>
