<style>
  div {
    display:flex;
    justify-content:space-between;
    padding:10px;
  }
  div:hover {
    background-color:beige;
  }
  button {
    border:none;
    background-color:#359;
    color:white;
    border-radius:2px;
    box-shadow:0 2px 3px rgba(0,0,0,0.1);
  }
</style>

<div>
  <Product
    title='{{product.title}}'
    price='{{product.price}}'
    quantity='{{product.inventory}}'
    location='stock'
  />
  <button
    on:click='fire("addToCart")'
    disabled='{{product.inventory > 0 ? "" : "disabled"}}'>
    {{product.inventory > 0 ? 'Add to cart' : 'Sold Out'}}
  </button>
</div>

<script>
  import Product from './Product.html'
  export default {
    components: { Product },
  }
</script>
