<style>
  :global(body) {
    background-color:#334;
  }
  div {
    font-family:sans-serif;
    color:#333;
    background-color:white;
    padding:20px;
    margin:0 auto;
    max-width:600px;
    border-radius:3px;
  }
  h1 {
    color:#336;
    text-shadow:1px 1px 3px silver;
    margin:0;
  }
  h1 + em {
    display:block;
    color:#789;
  }
</style>

<div>
  <h1>Shopping Cart Example</h1>
  <em>Powered by Svelte+Redux</em>
  <br />
  <ProductsContainer />
  <CartContainer />
</div>

<script>
  import CartContainer from './CartContainer.html'
  import ProductsContainer from './ProductsContainer.html'
  export default {
    components: { CartContainer, ProductsContainer }
  }
</script>
