
<Cart products={{$products}} total={{$total}} on:checkout='store.checkout()' />

<script>
  import { checkout } from '../redux/actions'
  import { getTotal, getCartProducts } from '../redux/reducers'
  import Cart from '../components/Cart.html'
  import { connect } from '../redux/store';

  const mapStateToData = state => ({
    products: getCartProducts(state),
    total: getTotal(state),
  })

  const mapDispatchToStore = { checkout }

  export default {
    store: connect(mapStateToData, mapDispatchToStore),
    components: { Cart }
  }
</script>
