
<ProductsList title="Products">
{{#each $products as product }}
  <ProductItem :product on:addToCart='store.addToCart(product.id)' />
{{/each}}
</ProductsList>

<script>
  import { addToCart } from '../redux/actions'
  import { getVisibleProducts } from '../redux/reducers/products'
  import { connect } from '../redux/store';
  import ProductItem from '../components/ProductItem.html'
  import ProductsList from '../components/ProductsList.html'

  const mapStateToData = state => ({
    products: getVisibleProducts(state.products)
  })

  const mapDispatchToStore = { addToCart }

  export default {
    store: connect(mapStateToData, mapDispatchToStore),
    components: { ProductItem, ProductsList },
  }
</script>
